<div class="row">
  <div class="col-12">
    <div class="container">
      <div class="card-header">Novo Empresa</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Nome</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Digite 0  nome">
              </div>
              <div class="col-md-6">
                <label for="exampleInputSocial">Razão Social</label>
                <input class="form-control" id="exampleInputSocial" type="text" aria-describedby="nameHelp" placeholder="Digite a razão social">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="cnpj">CNPJ</label>
                <input class="form-control" id="cnpj" type="number" aria-describedby="nameHelp" placeholder="Digite seu CNPJ" placeholder="000.000.000.000/00">
              </div>
              <div class="col-md-6">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" aria-describedby="nameHelp" placeholder="Digite seu sobrenome">
              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <button class="btn btn-primary">Salvar</button>
                <button class="btn btn-default">Limpar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>
</div>
