/* You can add global styles to this file; and also import other style files */
@import "./assets/css/bootstrap.min.css";
@import "./assets/css/dataTables.bootstrap4.css";
@import "./assets/css/sb-admin.css";

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948 !important; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; /* red */
  color: #721c24;
  border-color: #f5c6cb;
}
